# Python virtual environment
backend/venv/

# Secret keys and environment variables
backend/.env
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Node/Next.js files
frontend/node_modules/
frontend/.next/
frontend/out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log